@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    font-family: "Aldrich", sans-serif;
    color: #60712f;
    user-select: none;
    -webkit-user-select: none;
}


body {
    background-color: #28352f;
}

.title {
    font-family: "Black Ops One", system-ui;
    font-size: clamp(40px, 5vw, 60px);
}


.translatorSelect {
    color: black;
    font-size: clamp(18px, 1.3vw, 40px);
    width: fit-content;
    background-color: #607744;
    border: 3px solid #465732;
    box-shadow: 0px 5px 0px #465732;
    cursor: pointer;
    transition: 0.2s;
}

.translatorButtonSelected {
    filter: brightness(1.3);
    scale: 1.1;
}

#inputTextBox {
    background-color: #375b3f;
    border: 3px solid #214c2a;
    resize: none;
    aspect-ratio: 1/0.5;
    font-size: clamp(20px, 1.3vw, 33px);
    color: black;
    user-select: auto;
    -webkit-user-select: auto;
}

#inputTextBox:focus {
    outline: none;
}

#inputTextBox::placeholder {
    color: rgb(40, 40, 40);

}

.translate {
    color: black;
    font-size: clamp(16px, 1.2vw, 40px);
    width: fit-content;
    background-color: #607744;
    border: 3px solid #465732;
    box-shadow: 0px 5px 0px #465732;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;
}

.buttonClickAnimate {
    animation: buttonClick 0.3s ease forwards;
}

@keyframes buttonClick {
    0% {
        scale: 1;
    }

    50% {
        scale: 0.7;
    }

    100% {
        scale: 1;
    }
}

#outputText {
    background-color: #375b3f;
    border: 3px solid #214c2a;
    aspect-ratio: 1/0.5;
    resize: none;
    font-size: clamp(20px, 1.3vw, 33px);
    color: black;
    user-select: auto;
    -webkit-user-select: auto;
}

.translationBox {
    width: 45%;
}

/* sm */
@media only screen and (max-width:576px) {
    .title {
        font-family: "Black Ops One", system-ui;
        font-size: clamp(30px, 10vw, 60px);
    }

    .translationBox {
        width: 90%;
    }

    #inputTextBox {
        aspect-ratio: 1/0.7;
        font-size: clamp(15px, 5vw, 33px);
    }

    #outputText {
        aspect-ratio: 1/0.7;
        font-size: clamp(15px, 5vw, 33px);
    }

    .translate {
        font-size: clamp(18px, 4.5vw, 40px);
    }

}

/* md */
@media only screen and (max-width:768px) {
    .title {
        font-size: clamp(30px, 11vw, 50px);
    }

    .translationBox {
        width: 75%;
    }
    #inputTextBox {
        font-size: clamp(15px, 3vw, 33px);
    }

    #outputText {
        font-size: clamp(15px, 3vw, 33px);
    }

    .translate {
        font-size: clamp(18px, 3vw, 40px);
    }

    .translatorSelect {
        font-size: clamp(18px, 2.5vw, 40px);
    }
}

/* lg */
@media only screen and (min-width:992px) {
    .translationBox {
        width: 45%;
    }


}
