@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

*{
    font-family: "Aldrich", sans-serif;
}

body{
    background-color: rgb(97, 97, 97);
}

.title{
    font-family: "Black Ops One", system-ui;
    font-size: clamp(40px,5vw, 60px);
}

